body {
    background-image: url('../img/creative-background-seamless_1284-4659.jpg');
    font-family: 'Gloria Hallelujah', cursive;
}

#main {
    padding: 5%;
}

.reg-form-container {
    width: 40%;
    padding: 8%;
    margin: 2vh auto;
    background-color: rgba(212, 212, 212, 0.7);
    border-radius: 10px;
    font-weight: bold;
}

.welcome {
    font-size: 2em;
    text-align: center;
}

.btn-m {
    float: right;
}

.card-content .btn-m {
    margin-top: 0;
    margin-right: 0;
}

.board-title {
    float: left;
    font-size: 2em;
}

.card-content {
    font-size: 1.5em;
    background-color: #fffab3;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    text-align: left;
}

.btn-warning {
    background-color: #fcc161;
}

.btn-danger {
    background-color: firebrick;
}

.card-header, .navbar {
    background-image: url('/static/img/download.jpeg');: #FCC161;
    font-size: 1.5em;
}

.board-title {
    font-size: 1.5em;
    color: #cdcdcd;
}

.btn-info {
    background-color: #caedaa;
}

.card-body {
    background-image: url('/static/img/board-background.jpeg');
}

.status-name {
    font-family: 'Permanent Marker', cursive;
}

.card {
    margin-bottom: 5%;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gu-mirror {
  cursor:move; cursor:-webkit-grabbing; cursor:-moz-grabbing; cursor:grabbing;
  position: fixed !important;
  margin: 0 !important;
  opacity: 1;

}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

#b1, #b2, #b3, #b4 {
    min-height: 5em;
}