{% extends 'layout.html' %}

{% block content %}
    {% if 'user' not in session %}
        <div class="reg-form-container welcome">
            Welcome to our project management application!
        </div>
    {% else %}
        <main id="main" role="main" class="p-3">
        <div class="container-fluid bg-3 text-center">
            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-3 text-right">
                    <a href="{{ url_for('create_board') }}">
                        <button type="button" class="btn btn-lg btn-info">Add new board</button>
                    </a>
                </div>
            </div>
        </div>
        <div id="boards" class="mt-2 ml-3 mr-3" role="tablist">
            {% for board in boards %}
                <div class="card">
                    <div class="card-header" role="tab" id="collapseOne">
                        <h5 class="mb-0">
                            <div class="board-title"
                                 data-title="{{ board['board_title'] }}" id="{{ board['id'] }}"
                                 data-cardorder="{{ board['card_order'] }}">{{ board['board_title'] }}</div>
                            <a href="{{ url_for('create_card', board_id = board['id']) }}">
                                <button type="button" class="btn btn-m btn-info">Create card</button>
                            </a>
                            <a href="{{ url_for('delete_board', board_id = board['id']) }}">
                                <button type="button" class="btn btn-m btn-danger">X</button>
                            </a>
                            </a>
                            <a href="{{ url_for('rename_board', board_id = board['id']) }}">
                                <button type="button" class="btn btn-m btn-warning">Edit</button>
                            </a>
                            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="container-fluid">
                            <div class="card-body row">
                                <div class="col-sm-3 text-center">
                                    <header class="status-name"><h4>New</h4></header>
                                    <div class="board" id="board1">
                                        <div id="b1" data-status="new">
                                            {% for card in cards %}
                                                {% if card['card_board_id'] == board['id'] and card['card_status'] == "new" %}
                                                    <span>
                                                    <div class="card-content noselect"
                                                         data-boardid="{{ card['card_board_id'] }}"
                                                         data-status="{{ card['card_status'] }}"
                                                         data-id="{{ card['id'] }}" data-info="{{ card['card_info'] }}">
                                                            <button type="button" class="btn btn-m btn-danger">X
                                                            </button>
                                                        </a>
                                                        </a>
                                                        <a href="{{ url_for('load_card_with_title', card_id = card['id']) }}">
                                                            <button type="button" class="btn btn-m btn-warning">Edit
                                                            </button>
                                                        </a></button>
                                                        {{ card['card_info'] }}
                                                    </div>
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <header class="status-name"><h4>In progress</h4></header>
                                    <div class="board" id="board2">
                                        <div id="b2" data-status="in_progress">
                                            {% for card in cards %}
                                                {% if card['card_board_id'] == board['id'] and card['card_status'] == "in_progress" %}
                                                    <span>
                                                    <div class="card-content noselect"
                                                         data-boardid="{{ card['card_board_id'] }}"
                                                         data-status="{{ card['card_status'] }}"
                                                         data-id="{{ card['id'] }}" data-info="{{ card['card_info'] }}">
                                                        <a href="{{ url_for('delete_card', card_id = card['id']) }}">
                                                            <button type="button" class="btn btn-m btn-danger">X
                                                            </button>
                                                        </a>
                                                        </a>
                                                        <a href="{{ url_for('rename_card', card_id = card['id']) }}">
                                                            <button type="button" class="btn btn-m btn-warning">Edit
                                                            </button>
                                                        </a></button>
                                                        {{ card['card_info'] }}
                                                    </div>
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-3 text-center">
                                    <div class="board" id="board3">
                                        <header class="status-name"><h4>Testing</h4></header>
                                        <div id="b3" data-status="testing">
                                            {% for card in cards %}
                                                {% if card['card_board_id'] == board['id'] and card['card_status'] == "testing" %}
                                                    <span>
                                                    <div class="card-content noselect"
                                                         data-boardid="{{ card['card_board_id'] }}"
                                                         data-status="{{ card['card_status'] }}"
                                                         data-id="{{ card['id'] }}" data-info="{{ card['card_info'] }}">
                                                            <button type="button" class="btn btn-m btn-danger">X
                                                            </button>
                                                        </a>
                                                        </a>
                                                        <a href="{{ url_for('rename_card', card_id = card['id']) }}">
                                                            <button type="button" class="btn btn-m btn-warning">
                                                                Edit
                                                            </button>
                                                        </a></button>
                                                        {{ card['card_info'] }}
                                                    </div>
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div id="boards" class=" col-sm-3 text-center">
                                    <div class="board" id="board4">
                                        <header class="status-name"><h4>Done</h4></header>
                                        <div id="b4" data-status="done">
                                            {% for card in cards %}
                                                {% if card['card_board_id'] == board['id'] and card['card_status'] == "done" %}
                                                    <span>
                                                    <div class="card-content noselect"
                                                         data-boardid="{{ card['card_board_id'] }}"
                                                         data-status="{{ card['card_status'] }}"
                                                         data-id="{{ card['id'] }}" data-info="{{ card['card_info'] }}">
                                                        <a href="{{ url_for('delete_card', card_id = card['id']) }}">
                                                            <button type="button" class="btn btn-m btn-danger">X
                                                            </button>
                                                        </a>
                                                        </a>
                                                        <a href="{{ url_for('rename_card', card_id = card['id']) }}">
                                                            <button type="button" class="btn btn-m btn-warning">Edit
                                                            </button>
                                                        </a></button>
                                                        {{ card['card_info'] }}
                                                    </div>
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</main>
    <footer class="container text-center fixed-bottom text-muted">
        <p>&copy; aPróMan 2019</p>
    </footer>
{% endblock %}
